
    * { margin: 0; padding: 0; box-sizing: border-box; }
    body { font-family: Arial, sans-serif; line-height: 1.6; }

    /* ===== ESTILIZE LIVREMENTE A PARTIR DAQUI ===== */

    header {
  min-height: 100vh;
    background:
        linear-gradient(to bottom,
            rgba(26, 27, 26, 0.45) 0%,
            rgba(0, 0, 0, 0.7) 60%,
            rgba(48, 79, 61, 0.92) 100%),

        url('https://images.unsplash.com/photo-1506744038136-46273834b3fb?q=80&w=2070&auto=format&fit=crop%27)%20center/cover%20no-repeat')
        center/cover no-repeat;

    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 40x;
    color: white;
}
    .cabecalho h1{
   font-size: 60px;
}
.cabecalho p{
   font-size: 18px;
}

main {
   max-width: 900px;
   margin: auto;
   padding: 30px;
}

.interativo {

   background: #130a38;
   color: rgb(255, 255, 255);
   padding: 25px;
   border-radius: 15px;
   box-shadow: 0 0 10px rgba(112, 241, 187, 0.2);
   text-align: center;
}

button {

   background: rgb(250, 248, 248);
   color: rgb(17, 14, 59);
   padding: 12px 20px;
   border: none;
   border-radius: 10px;
   cursor: center;
   font-size: 16px;
}

button:hover{
   background: rgb(10, 50, 62);
}
button:hover{
   background: rgb(10, 50, 62);
}

/* BOTÃO MUDAR TEMA */

#tema{

   position: absolute;

   top: 20px;
   left: 20px;

   background: white;
   color: #0f172a;

   padding: 10px 18px;
   border-radius: 10px;
   border: none;

   cursor: pointer;

   z-index: 10;
}

/* CENTRALIZAR CONTEÚDO */

.cabecalho{

   max-width: 700px;

   display: flex;
   flex-direction: column;

   justify-content: center;
   align-items: center;

   text-align: center;

   margin: auto;
}

/* BOTÃO NA IMAGEM */

#botao-acao{
   margin-top: 20px;
}
#resposta{
   margin-top: 20px;
   background: rgba(255, 255, 255, 0.895);
   padding: 15px;
   border-radius: 10px;
}
.escondido {

   display: none;
}

footer {

   background: #1b5e20;
   color: rgb(255, 255, 255);
   text-align: center;
   padding: 20px;
   margin-top: 30px;
}
/* TEMA CLARO */

.tema-claro main{
   background: white;
   color: black;
   border-radius: 15px;
}

.tema-claro .interativo{
   background: #dff5e1;
   color: black;
}

.tema-claro footer{
   background: #dff5e1;
   color: black;
}
